<div>
	<button data-dojo-attach-point="backButton" class="${baseClass}backButton">
		<img src="${backButtonImageURL}" data-dojo-attach-point="backButtonImage" style="height: 75%; padding-top:5%">
	</button>
	<button data-dojo-attach-point="profileButton" class="${baseClass}settingsButton">
		<img src="${profileButtonImageURL}" data-dojo-attach-point="profileButtonImage" style="height: 75%; padding-top:5%">
	</button>
	<button data-dojo-attach-point="connectButton" class="${baseClass}interestButton">
		<img src="${connectButtonImageURL}" data-dojo-attach-point="connectButtonImage" style="height: 75%; padding-top:5%">
	</button>
</div>