<div data-dojo-type="dojox/mobile/View" id="AboutScreen"
	style="width: 100%; height: 100%; background-color: rgb(245,247,249); background-repeat: no-repeat; background-size: cover; background-position: center center;" selected="true">
	<div id="aboutHeader"></div>
	<div style="width:100%; background:white">
		<!--<button id="aboutButton" style="width: 90%; margin-left: 5%; margin-top: 5%; margin-bottom: 5%; border-radius: 5px; border-color: black; height: 7.5%; background-color: white;">Luminet World</button>-->
		<img id="imgSplash" src="./images/aboutSplash.png" style="position:absolute; top:0px; left:0px; width:100%; margin-top:9%;" />
		<div style="background-color:whitesmoke; height:44.5%; width:100%; bottom:0px; position:absolute">
			<div id="versionText" style="width:100%; color:black; font-size:0.8em; text-align: center; background-color: rgb(245,247,249)">Version 0.0.0.1</div>
			<div id="websiteText" style="width:100%; color:black; font-size:0.8em; position: absolute;bottom: 0px;margin-bottom: 24.5%;text-align: center;">www.luminetgroup.com</div>
			<div id="otherText" style="width:100%; color:black; font-size:0.8em; position:absolute; margin-bottom:16.5%; bottom:0px; text-align: center;">Copyright © 2014 Luminet Group (Pty) Ltd</div>
		</div>
	</div>
	
	<div id="aboutTab"></div>
</div>