<div data-dojo-type="dojox/mobile/View" id="ErrorScreen"
	style="width: 100%; height: 100%; background-color: rgb(245,247,249); background-repeat: no-repeat; background-size: cover; background-position: center center;" selected="true">
	<div id="errorHeader"></div>
		<div id="errorText" style="background-color:white; margin-top:20%; padding-left:5%; padding-right:5%; text-align:center; color:black;">Unable to connect to Luminet World. </br></br> Please check your Internet connectivity and retry.</div>
		<button id="retry" style="color: black; background-color:rgba(0,0,0,0); border-color: black; border-width:2px; border-style:solid; width: 90%; height:8%; margin:5%;font-size: medium;">Retry</button>
</div>