<div data-dojo-type="dojox/mobile/View" id="HomeScreen"
	style="width: 100%; height: 100%; background-color: rgb(245,247,249); background-repeat: no-repeat; background-size: cover; background-position: center center;" selected="true">
	<div id="homeHeader"></div>
	<!--<div style="width:100%; background:white">
		<button id="orgsButton" style="width: 90%; margin-left: 5%; margin-top: 5%; margin-bottom: 5%; border-radius: 5px; border-color: black; height: 7.5%; background-color: white;">Luminet World</button>
	</div>-->
	<div data-dojo-type="dojox/mobile/ScrollablePane" id="SectorListContainer" style="width: 100%; height: auto; margin-bottom:48px;">
		<ul data-dojo-type="dojox/mobile/EdgeToEdgeList" id="SectorList" style="width: 100%; background-color:rgba(0,0,0,0)"></ul>
	</div>
	<div id="homeTab"></div>
</div>