<div data-dojo-type="dojox/mobile/View" id="termsAndConditionsScreen"
	style="height: 100%; background-color: rgb(245,247,249); background-repeat: no-repeat; background-size: cover; background-position: center center;" selected="true">
	<div id="termsAndConditionsHeader"></div>
		<div data-dojo-type="dojox/mobile/ScrollablePane" id="termsAndConditionsText" style="color:black; background-color:white; margin-top:10%; padding-left:5%; padding-right:5%; font-family:Roboto;">
		<div style="padding-right:5%">
			<h3 style="font-weight:bold;">SOFTWARE LICENSE AGREEMENT FOR LUMI WORLD APPLICATION</h3>
			<span style="font-weight:bold;">Date last amended: October 2017</span>
		
			<p>IMPORTANT INFORMATION: READ BEFORE YOU DOWNLOAD OR USE THE LUMI WORLD APPLICATION (“Lumi App”)</p>
			<p>Lumi World is a communications platform between yourself and organisations. By downloading and registering on the Lumi App, you agree to be bound to the general terms and conditions of Lumi World, which are contained on <a style="color: blue; text-decoration: underline;" onClick="window.open('http://www.lumiworld.biz', '_system')">www.lumiworld.biz</a> (“T’s & C’s”), as well as this software license agreement (“Agreement”). It is your responsibility, after signing up, to periodically check the T’s & C’s as well as the terms of this Agreement. Any access by you to the Lumi App is deemed to be acceptance of both.</p>
			<p>Do not download or access the Lumi App if you do not agree to be bound to the T’s & C’s and this Agreement.</p>
			<p>Lumi World grants you (in your personal capacity) the right to install and use the Lumi App on multiple mobile devices that you control for the sole purpose of connecting with multiple organisations.</p>
			<p>The right granted to you is revocable, which means Lumi can take back the right it has given to you. You may not transfer the right.</p>
			<p>By accessing the Lumi App, you grant consent to Lumi to provide any captured data to organisations which provide information, products or services in the lifestyle sectors or interest categories (as defined in the T’s & C’s) which you have indicated on the Lumi App are of relevance to you. You thereby provide those organisations with consent to connect with you through the Lumi App. You may at any stage amend your lifestyle or interest data, block an organisation from connecting with you or delete the Lumi App from your phone in its entirety.</p>
			<p>The following activities are prohibited in terms of this Agreement:</p>
			<p>
				<ul>
					<li>You may not make a copy the Lumi App except for your own reasonable back up purposes</li>
					<li>You may not reproduce, modify, reverse engineer or use the source code of the Lumi App</li>
					<li>You may not make any derivative work from the Lumi App</li>
					<li>You may not decrypt the Lumi App or override any security features</li>
					<li>You may not remove, hide or alter any proprietary notice on or associated with the Lumi App and this includes any copyright notices or trademarks or license agreements</li>
					<li>You may not use the services for any purpose they were not intended or designed</li>
				</ul>
			</p>
			<p>If you modify or attempt to modify your device in any way or use any software that is designed to modify your device, override, or disable any security features on your device or its operating system, you may expose yourself to risk. This includes but is not limited to the following: jail breaking or rooting your phone. Modifying your phone or its operating system may also result in the Lumi App not working properly or at all and Lumi makes no warranties in this regard.</p>
			<p>Lumi makes no warranties with regards to any organisation displayed to you on the Lumi World App. Validity of displayed messages or organisations and or the accuracy of the content or delivery time. The Lumi App is a delivery channel for messages from the organisation to you. For any queries on the content displayed you are required to contact the relevant organisation. Any reliance placed on any messages received by you on Lumi World is entirely at your own risk.</p>
			<p>Any access to your handset capabilities including amongst others the camera, vibration, photo gallery, accelerometer or microphone is required purely for the purpose of making current or future functionality available to you.</p>
			<p>While we will use our best efforts to ensure that the Lumi App operates as it was designed by us, we cannot warrant that the services are compatible with, or will operate with your mobile device or any software/hardware that you have on your mobile device.</p>
			<p>Lumi may at any time discontinue or disable certain parts of the services available via the Lumi App.</p>
			<p>No fee is payable for downloading the Lumi App, but Lumi may amend this in its sole and absolute discretion.</p>
			
		</div>
		</div>
</div>