<div data-dojo-type="dojox/mobile/View" id="walkthroughScreen" style="width: abc; height: 100%; background-image: url('images/loginBG.png');background-repeat:no-repeat; background-position:right top; color:black">	
	<img src="./images/LoginLogo.png" style="width:100%; position: relative" />
	<img src="./images/LuminetWorldDisc.png" style="height:60%; margin-top:-10%; display:block; margin-left:auto; margin-right:auto;">
	<!--<div id="cf">
		<img class="first" src="./images/walkthrough/walkthrough_swish-mdpi.png" style="width:100%; position: absolute; "/>
		<img class="second" src="./images/walkthrough/walkthrough_img_messaging-mdpi.png" style="width:100%; position: absolute;"/>
		<img class="third" src="./images/walkthrough/walkthrough_img_interests-mdpi.png" style="width:100%; position: absolute;"/>
		<img class="forth" src="./images/walkthrough/walkthrough_img_calls-mdpi.png" style="width:100%; position: absolute;"/>
	</div>-->
    <button id="RegisterBtn" data-dojo-id="RegisterBtn" style="color: lightgrey; background-color:rgba(0,0,0,0); border-color: white; border-width:2px; border-style:solid; width:60%; height:8%; margin-left:20%; margin-right5%; bottom:15%; left:0px; position:absolute;">Register</button>
	<button id="LogInBtn" data-dojo-id="LogInBtn" style="color: lightgrey; background-color:rgba(0,0,0,0); border-color: white; border-width:2px; border-style:solid; width:60%; height:8%; margin-left:20%; margin-right5%; margin-bottom:8%; bottom:0px; left:0px; position:absolute;">Login</button>
</div>