<div>
	<div data-dojo-type="dojox/mobile/ContentPane" data-dojo-attach-point="enterpriseInfoNode" class="${baseClass}InfoPane">
		<img data-dojo-attach-point="enterpriseLogoNode" class="${baseClass}Logo" src="${enterpriseLogoURL}">
		<div data-dojo-attach-point="enterpriseNameTitleNode" class="${baseClass}EnterpriseName">${enterpriseName}</div>
		<div data-dojo-attach-point="enterpriseShortNode" class="${baseClass}EnterpriseShort">${enterpriseShort}</div>
	</div>
	<div style="background:white; border-top-width:1px; border-bottom-width:1px; border-left-width:0px; border-right-width:0px; border-color:grey; border-style:solid; height:8%;">
		<button data-dojo-attach-point="followButton"  class="${baseClass}FollowButton">
			<img data-dojo-attach-point="followButtonImageNode" src="${followButtonImage}" style="height:90%; float:left; margin-left: -12px; width: 25%;"/>
		</button>
		<button data-dojo-attach-point="thirdActionButton"  class="${baseClass}ActionButton">
			<img data-dojo-attach-point="thirdActionButtonImage" src="${thirdButtonLabel}" style="width:90%"/>
		</button>
		<button data-dojo-attach-point="secondActionButton" class="${baseClass}ActionButton">
			<img data-dojo-attach-point="secondActionButtonImage"src="${secondButtonLabel}" style="width:90%"/>
		</button>
		<button data-dojo-attach-point="firstActionButton" class="${baseClass}ActionButton">
			<img data-dojo-attach-point="firstActionButtonImage" src="${firstbuttonLabel}" style="width:90%"/>
		</button>
		<!-- Added By Rajesh -->
		<button data-dojo-attach-point="facebookIcon" class="${baseClass}ActionButton">
			<img data-dojo-attach-point="facebookIconImage" src="${facebookIconLabel}" style="width:90%"/>
		</button>
		<button data-dojo-attach-point="twitterIcon" class="${baseClass}ActionButton" style="margin-left: -39px;">
			<img data-dojo-attach-point="twitterIconImage" src="${twitterIconLabel}" style="width:90%; "/>
		</button>
		<button data-dojo-attach-point="instagramIcon" class="${baseClass}ActionButton" style="margin-left: 106px; margin-top: -50px; float: left;">
			<img data-dojo-attach-point="instagramIconImage" src="${instagramIconLabel}" style="width:90%"/>
		</button>
		<button data-dojo-attach-point="linkedinIcon" class="${baseClass}ActionButton" style="float: left; margin-top: -50px; margin-left: 53px;">
			<img data-dojo-attach-point="linkedinIconImage" src="${linkedinIconLabel}" style="width:90%"/>
		</button>
		<!-- Till here Added By Rajesh -->
	</div>
</div>