<div>
	<button data-dojo-attach-point="enterpriseNameNode" style="bottom: 25%; display: none;" class="${baseClass}NavButtonx">
		<span class="${baseClass}Label">${enterpriseName}</span>
	</button>
	<button data-dojo-attach-point="categoryNameNode" style="bottom: 19%; display: none;" class="${baseClass}NavButtonx">
		<span class="${baseClass}Label">${categoryName}</span>
	</button>
	<button data-dojo-attach-point="sectorNameNode" style="bottom: 10%; height:9%" class="${baseClass}NavButtonx">
		<span class="${baseClass}Label">${sectorName}</span>
	</button>
	<img class="${baseClass}BackGround" src="./widget/navigationHud/images/HUD.png" data-dojo-attach-point="HUDBackGround" style="z-index:0; pointer-events:none;">
	<button data-dojo-attach-point="backButton" class="${baseClass}backButton">${backLabel}</button>
	<button data-dojo-attach-point="settingsButton" class="${baseClass}settingsButton">
		<img src="${settingButtonImageURL}" data-dojo-attach-point="settingsButtonImage" style="height: 100%">
	</button>
	<button data-dojo-attach-point="interestButton" class="${baseClass}interestButton">
		<img src="${interestButtonImageURL}" data-dojo-attach-point="interestedButtonImage" style="height: 100%">
	</button>
</div>